<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}GEREMI2{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic"
          rel="stylesheet">
    <link href="{{ asset('built/min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {{ render(controller('AppBundle:Element:beforeClosingHead')) }}
</head>
<body class="{% block body_class %}layout-login{% endblock %}">
<div id="content-wrapper">
    {{ include(':app/_partial:_alert_noJs.html.twig') }}
    <div class="container">
        {% block main_content %}{% endblock main_content %}
    </div>
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('built/app.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
