<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}GEREMI2{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet">
    <link href="{{ asset('built/min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}layout-main {{ theme(app.session.get('agence')) }}{% endblock %}{% if env_saisie %} env-saisie{% endif %}">
    {{ render(controller('AppBundle:Element:beforeClosingHead')) }}
    {% block body_start %}{% endblock %}
    {{ render(controller('AppBundle:Element:topbar',{'topbarTitle': block('main_header_title')})) }}
    <div id="sidebar">
        {% block sidebar %}
            {{ render(controller('AppBundle:Element:sideBar')) }}
        {% endblock %}
    </div>
    <main id="main-content">
        {{ include(':app/_partial:_alert_noJs.html.twig') }}
        <div class="container-fluid">
            <div class="section-heading">
                <div class="section-heading-main">{% spaceless %}
                    {% block main_title %}{% endblock %}
                {% endspaceless %}</div>
                <div class="section-heading-extra">{% spaceless %}
                    {% block main_extra %}{% endblock %}
                {% endspaceless %}</div>
            </div>
            {% if app.session.started and app.session.flashBag.peekAll is not empty %}
                <div class="messages">
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                {{ message|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {% block main_content %}{% endblock %}
        </div>
    </main>
    {% block body_end %}
    {% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('built/app.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>

