<div class="modal fade {% if modal_container_classes is defined %}{{ modal_container_classes }}{% endif %}" tabindex="-1"
        {% if modal_id is defined %}
    id="{{ modal_id }}" aria-labelledby="modal-label_{{ modal_id }}"
        {% endif %}>
    <div class="modal-dialog {% if modal_classes is defined %}{{ modal_classes }}{% endif %}" role="document">
        <div class="modal-content">
            <div class="modal-header {% if modal_header_classes is defined %}{{ modal_header_classes }}{% endif %}">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" {% if modal_id is defined %}id="modal-label_{{ modal_id }}"{% endif %}>
                    {% block modal_title %}{% endblock %}
                </h4>
            </div>
            <div class="modal-body container">
                {% block modal_body %}{% endblock %}
            </div>
            {% if block('modal_footer') %}
                <div class="modal-footer">
                    {% block modal_footer %}{% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
