{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% block main_content %}
    <div class="modal fade" id="modalDisable{{ data.id }}" tabindex="-1" role="dialog"
         aria-labelledby="modalDisable{{ data.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="{{ 'action.close'|trans }}">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"
                        id="modalLabelDisable{{ data.id }}">{{ 'app.utilisateur.disable.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        {{ 'app.utilisateur.disable.text'|trans }} <b>{{ data.fullname }}</b> ?<br/>
                    </p>
                </div>
                <div class="modal-footer">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    {{ button_cancel(true) }}
                    {{ button_delete('submit_disable' ~ data.id, true, 'submit', icone_desactiver(true), 'action.disable'|trans) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}