{% extends ':app:layout_main.html.twig' %}

{% block main_header %}
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h2>{{ icone_menu_utilisateurs() }}<span>{{ title }}
                        <small>({{ pager.nbResults }})</small></span></h2>
            </div>
        </div>
        <div class="col-md-3 text-right page-header">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="{{ icone_filtrer(true) }}"></span>
                    <span class="sr-only">Filtres</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('utilisateur.liste') }}">
                            {{ icone_menu_utilisateurs() }}
                            <span>Utilisateurs activés</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('utilisateur.liste.desactives') }}">
                            {{ icone_menu_utilisateurs() }}
                            <span>Utilisateurs désactivés</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('utilisateur.liste.nonActives') }}">
                            {{ icone_menu_utilisateurs() }}
                            <span>Utilisateurs jamais connectés</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end %}
    {% if isActionAllowed('UTILISATEUR:DESACTIVER') %}
        {% for data in pager %}
            {{ render(controller('AppBundle:Utilisateur:disable', {'utilisateur': data, 'standalone': true})) }}
        {% endfor %}
    {% endif %}
{% endblock body_end %}
