{% extends ':app:layout_main.html.twig' %}

{% set prefix = 'utilisateur' %}
{% set action = 'modifier' %}
{% set title = 'app.utilisateur.edit.title'|trans %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_utilisateurs(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">{{ app.session.flashBag.get('success') }}</div>
    {% endif %}
    <div class="content-block">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form-utilisateur-modifier'}}) }}

        {% do form.plainPassword.setRendered %}
        {% do form.confirmPassword.setRendered %}

        {{ form_row(form.civilite) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.confirmPassword) }}
        {{ form_row(form.trigramme) }}

        <hr>

        {{ form_row(form.fonction) }}
        {{ form_row(form.numeroTelephone) }}
        {{ form_row(form.raccourciTelephone) }}
        {{ form_row(form.numeroMobile) }}
        {{ form_row(form.raccourciMobile) }}

        {{ form_row(form.profilePictureFile) }}

        {% if utilisateur.profilePicturePath is not null %}
            <div class="form-group form-md">
                <div class="col-sm-10 col-sm-offset-2">
                    <img src="{{ utilisateur.profilePicturePath | imagine_filter('user_profile') }}" width="100"
                         alt="{{ 'app.utilisateur.modifier.image.alt'|trans }} {{ utilisateur.fullname }}"/>

                    <img src="{{ path('media.resource.serve',{'resource':utilisateur.profilePicturePath}) }}"
                         width="100"
                         alt="{{ 'app.utilisateur.modifier.image.alt'|trans }} {{ utilisateur.fullname }}"/>
                </div>
            </div>
        {% endif %}

        {{ form_row(form.enabled) }}

        <div class="footer-fixed">
            <div class="btn-wrapper">
                {{ link_back(path('utilisateur.liste')) }}
                {{ button_register() }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
