<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Base  -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- Title  -->
    <title>Admin | 4Erudition | 4L Trophy 2017</title>

    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Meta generales -->
    <meta name="Author" content="Pierre PEREZ"/>

    <!-- Activer JS -->
    <noscript>
        <p>Attention, ne pas activer le JavaScript peux amener à des problèmes de visibilité sur ce site.</p>
    </noscript>

    <!-- Robot -->
    <meta name="robots" content="no index,no follow"/>
</head>

<h1 class="sr-only">{% block h1 %}{% endblock %}</h1>

<header>
    <nav class="white" role="navigation" id="hautDePage">
        <h2 class="sr-only">Navigation</h2>
        <div class="nav-wrapper container">
            <a href="{{ path('index') }}"><img id="logo-container" class="logo brand-logo"
                                               src="{{ asset('img/logoMenu.png') }}" height="115"
                                               width="230" alt="logo 4erudition"></a>
            <ul class="right hide-on-med-and-down">
                <li {% block Laccueil %}{% endblock %}><a href="{{ path('index') }}">Accueil</a></li>
                <li {% block Lnews %}{% endblock %}><a href="{{ path('news') }}">News</a></li>
                <li {% block Ltrophy %}{% endblock %}><a href="{{ path('4l') }}">Le 4L Trophy</a></li>
                <li {% block Lnous %}{% endblock %}><a href="{{ path('nous') }}">Qui sommes nous ?</a></li>
                <li {% block Lsoutiens %}{% endblock %}><a href="{{ path('soutiens') }}">Nous soutenir</a></li>
                <li {% block Lsponsors %}{% endblock %}><a href="{{ path('sponsors') }}">Nos sponsors</a></li>
                <li {% block Lcontact %}{% endblock %}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="{{ path('news') }}">News</a></li>
                <li><a href="{{ path('4l') }}">Le 4L Trophy</a></li>
                <li><a href="{{ path('nous') }}">Qui sommes nous ?</a></li>
                <li><a href="{{ path('soutiens') }}">Nous soutenir</a></li>
                <li><a href="{{ path('sponsors') }}">Nos sponsors</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse btn-floating btn-large waves-effect
             waves-light amber">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>
</header>

<body>
<div class="container">
    <div class="section">
        <div class="row center">


            <div class="col l2 hide-on-med-and-down" id="adminSidebar">
                <h2 class="flow-text center white-text"><strong>Menu d'adminstrateur</strong></h2>
                <div class="divider"></div>
                <br />
                <a href="{{ path('coAdmin') }}" class="waves-effect waves-light btn blue">Accueil Admin</a><br />
                <br />
                <a href="{{ path('ajoutArticle') }}" class="waves-effect waves-light btn green">Ajouter un article</a><br />
                <br />
                <a href="{{ path('modifierArticle') }}" class="waves-effect waves-light btn orange">Modifier un article</a><br />
                <br />
                <a href="{{ path('deconection') }}" class="waves-effect waves-light btn red">Se déconnecter</a><br />
                <br />
                <p class="white-text flow-text">Cette Page à était élaboré par le grand et mythique Pierre ! =P</p><br />

            </div>
            <div class="hide-on-large-only">
                <a href="{{ path('coAdmin') }}" class="waves-effect waves-light btn blue">Accueil Admin</a><br />
                <br />
                <a href="{{ path('ajoutArticle') }}" class="waves-effect waves-light btn green">Ajouter un article</a><br />
                <br />
                <a href="{{ path('modifierArticle') }}" class="waves-effect waves-light btn orange">Modifier un article</a><br />
                <br />
                <a href="{{ path('deconection') }}" class="waves-effect waves-light btn red">Se déconnecter</a><br />
                <br />
            </div>

            <div class="col s12 m12 l10 offset-l2">
                <h2 class="center brown-text">Administration</h2>
                <hr/>
                <div id="admin">
                    {% block body %}{% endblock %}
                </div>

            </div>

        </div>

    </div>
</div>
</body>


<footer class="page-footer amber">
    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l6">
                <h2 class="blue-grey-text">Sponsors</h2>
                <div class="col s1 m1 l1">
                    <a class="blue-grey-text" href="{{ path('sponsors') }}">
                        <img class="piedSponsors"
                          src="{{ asset('img/sponsors/aroban.png') }}"
                          width="400" height="400"
                          alt="logo Aroban">
                    </a>
                </div>

            </div>
            <div class="col s12 m12 l6">
                <h2 class="blue-grey-text footer">Liens utiles</h2>
                <ul>
                    <li><a class="blue-grey-text flow-text" href="{{ asset('doc/Brochure1.3.pdf') }}">Notre brochure</a></li>
                    <li><a class="blue-grey-text" target="_blank" href="http://www.facebook.com/4erudition"><img
                                    id="logoFacebook"
                                    src="{{ asset('img/facebook.png') }}" height="256"
                                    width="256" alt="logo facebook">
                        </a></li>
                </ul>
                <ul>
                    <li><a class="blue-grey-text" href="{{ path('mentions') }}">Mentions légales</a></li>
                    <li><a class="blue-grey-text" href="{{ path('plan') }}">Plan du site</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container blue-grey-text">
            Copyright Pierre PEREZ &copy;
        </div>
    </div>
</footer>


<!-- Scripts -->
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ asset('js/materialize.js') }}"></script>
<script src="{{ asset('js/init.js') }}"></script>
<script src="{{ asset('js/d3.js') }}"></script>
<script src='{{ asset('js/d3Old.js') }}'></script>
<script src="{{ asset('js/pie.js') }}"></script>


</html>
