{% if data is defined %}
    <div class="list-group-item-heading">
        {{ icone_menu_terrains() }}
        <a href="{{ path('terrain.modifier', {id: data.id}) }}" class="data-title">{% spaceless %}
                <span class="data-ville">{{ data.ville.nom|default('Ville non renseignée') }}</span> -
                <span class="data-prix">{{ data.prix|default_money_format(0) }}</span> -
                <span class="data-superficie">{{ data.superficie|default_number_format()|raw }}
                    &nbsp;m<sup>2</sup></span>
            {% endspaceless %}</a>
        <span class="data-trigramme badge">{{ data.utilisateurAttribution.trigramme|default('') }}</span>
    </div>
    <div class="list-group-item-content">
        <span class="data-date">{{ data.createdAt|localizeddate('long', 'none') }}</span>
    </div>
{% endif %}
