<div class="btn-group">
    <a href="{{ path('terrain.modifier', {id: data.id}) }}" role="button" class="btn btn-info">
        {{ icone_modifier() }}
        <span class="sr-only">{{ 'action.edit'|trans }}{{ data.id }}</span>
    </a>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        {% if is_granted(constant('App\\Model\\Terrain\\Terrain::ACTION_ATTRIBUER'), data) %}
            <li>
                <a href="{{ path("terrain.attribuer", {'ids': data.id}) }}" class="btn btn-info">
                    {{ icone_modifier_attribution() }} {{ 'action.attribuer'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a class="" href="{{ path('terrain.selectionner', {id: data.id}) }}">
                {{ icone_selectionner() }} {{ 'app.terrain.action.selectionner'|trans }}
            </a>
        </li>
        {% if app.request.get('filtre') != 'archives' %}
            <li>
                {{ form_start(deleteForms[data.id]) }}
                {{ form_rest(deleteForms[data.id]) }}
                {{ form_end(deleteForms[data.id]) }}
                <a class="submitLink btn btn-warning" href="#" data-target-id="{{ data.id }}">
                    {{ icone_archiver() }} {{ 'action.archiver'|trans }}
                </a>
            </li>
        {% endif %}
        {% if data.pictureUploadPath is not null %}
            <li>
                <a href="{{ path("terrain.modifier.image", {'id': data.id}) }}" class="btn btn-info separate">
                    {{ icone_recadrer() }} {{ 'terrain.modifier.image_originale'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
