<h2>Boutons</h2>

<h3>Par défaut</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_default('default1', 'icone', 'Par défaut', false) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_default('default1', 'icone', 'Par défaut', false) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_default('default2', 'glyphicon glyphicon-minus', 'Avec icône', false) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_default('default2', 'glyphicon glyphicon-minus', 'Avec icône', false) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_rechercher('submitRechercher') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_rechercher('submitRechercher') }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Validation / Création</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_save() }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_save() }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_save('submitSave', 'submit', 'Enregistrer') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_save('submit', 'submit', 'Enregistrer') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_register('register') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_register('register') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_register('register2', 'name', 'button', 'Enregistrer') }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ button_register('register2', 'name', 'button', 'Enregistrer') }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Modification</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit('edit1', 'edit', 'Modifier', null, false, 'button', false, 'modalTarget') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit('edit1', 'edit', 'Modifier', null, false, 'button', false, 'modalTarget') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit() }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit() }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit('edit2', 'edit', 'Changer') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit('edit2', 'edit', 'Changer') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit('edit3', 'edit', null, null) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit('edit3', 'edit', null, null) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit('edit4', 'edit', null, null, true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit('edit4', 'edit', null, null, true) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_edit('edit5', 'edit', 'Modifier attribution', icone_menu_utilisateurs(true)) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_edit('edit5', 'edit', 'Modifier attribution', icone_menu_utilisateurs(true)) }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Archivage / Soft delete / Suppression / Destruction</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_delete('delete1') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_delete('delete1') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_delete('delete2', true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_delete('delete2', true) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_delete('delete3', true, 'submit', icone_desactiver(true)) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_delete('delete3', true, 'submit', icone_desactiver(true)) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_delete('delete4', true, 'submit', icone_desactiver(true), 'Desactiver') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_delete('delete4', true, 'submit', icone_desactiver(true), 'Desactiver') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_delete('delete5', false, 'submit', icone_desactiver(true), null, true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_delete('delete5', false, 'submit', icone_desactiver(true), null, true) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_archive('archive1', true, 'button', false) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_archive('archive1', true, 'button', false) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_archive('archive2', false, 'button', false) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_archive('archive2', false, 'button', false) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_archive('archive3', false, 'button', true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ button_archive('archive3', false, 'button', true) }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Actions groupées / Dropdown / Dropup</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="btn-group dropup">
                {{ button_save('submitDropdown', 'submit', 'Valider') }}
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            {{ icone_valider() }}<span>Valider et passer à l'étape suivante</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>&lt;div class="btn-group dropup"&gt;
{{ button_save('submitDropdown', 'submit', 'Valider') }}
&lt;button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
&lt;/button&gt;
&lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;
        &lt;a href="#"&gt;
            &lt;i class="glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;span&gt;Valider et passer à l'étape suivante&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="btn-group">
                {{ button_register('submitRegisterDropdown') }}
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            {{ icone_moins() }}<span>Style hérité</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default">
                            {{ icone_moins() }}<span>Neutre</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary">
                            {{ icone_moins() }}<span>Important</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-info">
                            {{ icone_modifier() }}<span>Modifier</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-warning">
                            {{ icone_archiver() }}<span>Archiver</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-success">
                            {{ icone_creer_ajouter() }}<span>Ajouter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-danger separate">
                            {{ icone_supprimer() }}<span>Supprimer</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>&lt;div class="btn-group"&gt;
{{ button_register('submitRegisterDropdown') }}
&lt;button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
&lt;/button&gt;
&lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;
        &lt;a href="#"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Style hérité&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-default"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Neutre&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-primary"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Important&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-info"&gt;
            &lt;i class="glyphicon glyphicon-pencil"&gt;&lt;/i&gt;&lt;span&gt;Modifier&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-warning"&gt;
            &lt;i class="glyphicon glyphicon-folder-close"&gt;&lt;/i&gt;&lt;span&gt;Archiver&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-success"&gt;
            &lt;i class="glyphicon glyphicon-plus"&gt;&lt;/i&gt;&lt;span&gt;Ajouter&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-danger separate"&gt;
            &lt;i class="glyphicon glyphicon-trash"&gt;&lt;/i&gt;&lt;span&gt;Supprimer&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="btn-group">
                {{ link_edit(path('tableau_de_bord')) }}
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            {{ icone_moins() }}<span>Style hérité</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default">
                            {{ icone_moins() }}<span>Neutre</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary">
                            {{ icone_moins() }}<span>Important</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-info">
                            {{ icone_modifier() }}<span>Modifier</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-warning">
                            {{ icone_archiver() }}<span>Archiver</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-success">
                            {{ icone_creer_ajouter() }}<span>Ajouter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-danger separate">
                            {{ icone_supprimer() }}<span>Supprimer</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>&lt;div class="btn-group"&gt;
{{ link_edit(path('tableau_de_bord')) }}
&lt;button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
&lt;/button&gt;
&lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;
        &lt;a href="#"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Style hérité&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-default"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Neutre&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-primary"&gt;
            &lt;i class="glyphicon glyphicon-minus"&gt;&lt;/i&gt;&lt;span&gt;Important&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-info"&gt;
            &lt;i class="glyphicon glyphicon-pencil"&gt;&lt;/i&gt;&lt;span&gt;Modifier&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-warning"&gt;
            &lt;i class="glyphicon glyphicon-folder-close"&gt;&lt;/i&gt;&lt;span&gt;Archiver&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-success"&gt;
            &lt;i class="glyphicon glyphicon-plus"&gt;&lt;/i&gt;&lt;span&gt;Ajouter&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="#" class="btn btn-danger separate"&gt;
            &lt;i class="glyphicon glyphicon-trash"&gt;&lt;/i&gt;&lt;span&gt;Supprimer&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="btn-group">
                {{ link_add(path('tableau_de_bord'), null, true) }}
                {{ link_edit(path('tableau_de_bord')) }}
                {{ link_delete(path('tableau_de_bord'), null, true) }}
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>&lt;div class="btn-group"&gt;
{{ link_add(path('tableau_de_bord'), null, true) }}
{{ link_edit(path('tableau_de_bord')) }}
{{ link_delete(path('tableau_de_bord'), null, true) }}
&lt;/div&gt;</pre>{% endraw %}
        </div>
    </div>

</div>

<h3>Connexion</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_save('submitLogin', 'submit', 'Se connecter'|trans, icone_connexion(true)) }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ button_save('submitLogin', 'submit', 'Se connecter'|trans, icone_connexion(true)) }}</pre>{% endraw %}
        </div>
    </div>
</div>

<h3>Autres</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ button_block_avance() }}</div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
{{ button_block_avance() }}
&lt;div id="advanced-search"&gt;Contenu&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
    <div id="advanced-search">Contenu</div>
</div>
