<h2>Icônes</h2>

{# MENU #}
<h3>Menu</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_guidegraphique() }}<span>Guide graphique</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_guidegraphique() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_tableaudebord() }}<span>Tableau de bord</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_tableaudebord() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_alerte() }}<span>Mes alertes</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_alerte() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_utilisateurs() }}<span>Utilisateurs</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_utilisateurs() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_roles() }}<span>Rôles</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_roles() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_societes() }}<span>Sociétés</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_societes() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_agences() }}<span>Agences</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_agences() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_points() }}<span>Points de vente</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_points() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_terrains() }}<span>Terrains</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_terrains() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_annuaire() }}<span>Annuaire</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_annuaire() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_dossiers() }}<span>Dossiers</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_dossiers() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_annonces() }}<span>Annonces</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_annonces() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_familles() }}<span>Familles</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_familles() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_ouvrages() }}<span>Ouvrages</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_ouvrages() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_lots() }}<span>Lots</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_lots() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_articles() }}<span>Articles</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_articles() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_prestations() }}<span>Prestations</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_prestations() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_menu_devis() }}<span>Devis</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_menu_devis() }}{% endraw %}</pre>
        </div>
    </div>
</div>

{# ACTIONS #}
<h3>Actions</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_creer_ajouter() }}<span>Créer/Ajouter</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_creer_ajouter() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_rechercher() }}<span>Rechercher</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_rechercher() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_filtrer() }}<span>Filtrer</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_filtrer() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_valider() }}<span>Valider</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_valider() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_creer_appel() }}<span>Créer appel</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_creer_appel() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_creer_rdv() }}<span>Créer RDV</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_creer_rdv() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_creer_email() }}<span>Créer Email</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_creer_email() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_creer_courrier() }}<span>Créer Courrier</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_creer_courrier() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_modifier() }}<span>Modifier</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_modifier() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_modifier_attribution() }}<span>Modifier attribution</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_modifier_attribution() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_desactiver() }}<span>Désactiver</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_desactiver() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_supprimer() }}<span>Supprimer</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_supprimer() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_archiver() }}<span>Archiver</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_archiver() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_annuler() }}<span>Annuler</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_annuler() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_retour() }}<span>Retour</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_retour() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_reinitialiser() }}<span>Réinitialiser</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_reinitialiser() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_recadrer() }}<span>Recadrer</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_recadrer() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_selectionner() }}<span>Sélectionner</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_selectionner() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_lien_externe() }}<span>Lien externe</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_lien_externe() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_gamme() }}<span>Gamme</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_gamme() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_fichier() }}<span>Fichier</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_fichier() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_connexion() }}<span>Connexion</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_connexion() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_copier() }}<span>Copier</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_copier() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_info() }}<span>Info</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_info() }}{% endraw %}</pre>
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_zone_sismique() }}<span>Zone sismique</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_zone_sismique() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_statut_dossier() }}<span>Statut dossier</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_statut_dossier() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_paperclip() }}<span>Pièce jointe</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_paperclip() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_spin() }}<span>Spinner</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_spin() }}{% endraw %}</pre>
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-2">{{ icone_print() }}<span>Imprimer</span></div>
        <div class="sample-desc col-sm-10">
            <pre>{% raw %}{{ icone_print() }}{% endraw %}</pre>
        </div>
    </div>

</div>
