<h2>Liens</h2>
<h3>Par défaut</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_default('#', 'Par défaut', null, 'modalTarget') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_default('#', 'Par défaut', null, 'modalTarget') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_default('#', 'Par défaut', icone_chevron_up(true), 'modalTarget') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_default('#', 'Par défaut', icone_chevron_up(true), 'modalTarget') }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Validation / Création</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord')) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord')) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord'), 'Ajouter') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord'), 'Ajouter') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord'), 'Ajouter', true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord'), 'Ajouter', true) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord'), 'Email', true, icone_creer_email(true)) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord'), 'Email', true, icone_creer_email(true)) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord'), 'Appel', true, icone_creer_appel(true)) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord'), 'Appel', true, icone_creer_appel(true)) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_add(path('tableau_de_bord'), 'RDV', true, icone_creer_rdv(true)) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_add(path('tableau_de_bord'), 'RDV', true, icone_creer_rdv(true)) }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Modification</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_edit(path('tableau_de_bord')) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_edit(path('tableau_de_bord')) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_edit(path('tableau_de_bord'), 'Changer') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_edit(path('tableau_de_bord'), 'Changer') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_edit(path('tableau_de_bord'), null, true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_edit(path('tableau_de_bord'), null, true) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_edit(path('tableau_de_bord'), null, true, true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_edit(path('tableau_de_bord'), null, true, true) }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Archivage / Soft delete / Suppression / Destruction</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_delete('#', 'modalName', false, null, false, null) }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_delete('#', 'modalName', false, null, false, null) }}</pre>{% endraw %}
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_delete('#', 'modalName', false, 'Désactiver', false, icone_desactiver(true)) }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_delete('#', 'modalName', false, 'Désactiver', false, icone_desactiver(true)) }}</pre>{% endraw %}
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_delete('#', 'modalName', true, null, false, icone_desactiver(true)) }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_delete('#', 'modalName', true, null, false, icone_desactiver(true)) }}</pre>{% endraw %}
        </div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_delete('#', 'modalName', true, null, true, icone_desactiver(true)) }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_delete('#', 'modalName', true, null, true, icone_desactiver(true)) }}</pre>{% endraw %}
        </div>
    </div>


    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_archive('#', 'modalName') }}</div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_archive('#', 'modalName') }}</pre>{% endraw %}
        </div>
    </div>

</div>

<h3>Annulation / Retour</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_cancel(path('tableau_de_bord')) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_cancel(path('tableau_de_bord')) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_back(path('tableau_de_bord')) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_back(path('tableau_de_bord')) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_reset(path('tableau_de_bord'), 'Réinitialiser') }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_reset(path('tableau_de_bord'), 'Réinitialiser') }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_reset(path('tableau_de_bord')) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_reset(path('tableau_de_bord')) }}</pre>{% endraw %}</div>
    </div>
    <div class="sample row">
        <div class="sample-render col-sm-3">{{ link_reset(path('tableau_de_bord'), null, true) }}</div>
        <div class="sample-desc col-sm-9">{% raw %}<pre>{{ link_reset(path('tableau_de_bord'), null, true) }}</pre>{% endraw %}</div>
    </div>
</div>

<h3>Connexion</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">
            {{ link_add_modal('#', 'google-connect', false, icone_google(true), 'Connexion avec Google', true) }}
        </div>
        <div class="sample-desc col-sm-9">
            {% raw %}<pre>{{ link_add_modal('#', 'google-connect', false, icone_google(true), 'Connexion avec Google', true) }}</pre>{% endraw %}
        </div>
    </div>
</div>
