
{% for unArticle in article %}
    <div class="section">
        <h3 class="center orange-text">{{ unArticle.titre }}</h3>

{#Faire un if et ajouter les donner necessaire au formulaire (alt / tialme img / url /... #}
        <a class="grey-text" target="_blank" href="http://www.4erudition.fr">
            <img class="img4L responsive-img" src="{{ unArticle.image }}" height="1000" width="1654"
                 alt="Notre 4L (dessin)">
        </a>

        <p class="left-align">{{ unArticle.date }}</p><p class="right-align">{{ unArticle.categorie }}</p>
        <p class="left-align flow-text">
            {{ unArticle.texte }}
        </p>
        <p class="left-align flow-text">
            {{ unArticle.accompagnement }}
        </p>
        <p class="left-align">
            <br/>
            <br/>
            <br/>
            <br/>
        </p>
        <a class="blue-grey-text" target="" href=""></a>
    </div>

    <div class="divider"></div>
{% endfor %}

{#
<div class="section">
    <h3 class="center orange-text">La machine est en marche !</h3>

    <a class="grey-text" target="_blank" href="http://www.4erudition.fr">
        <img class="img4L responsive-img" src="{{ asset('img/background3.jpg') }}" height="1000" width="1654"
             alt="Notre 4L (dessin)">
    </a>

    <p class="left-align">03/02/16</p><p class="right-align">Nos péripéties</p>
    <p class="left-align flow-text">
        Association créée au sein de la préfecture !
    </p>
    <p class="left-align flow-text">
        Notre prochaine étape est d'ouvrir un compte bancaire pour pouvoir officiellement ouvrir notre campagne
        de financement participatif (don).
    </p>
    <p class="left-align">
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
    <a class="blue-grey-text" target="" href=""></a>
</div>

<div class="divider"></div>
#}