{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% set prefix = 'agenda' %}
{% set action = 'lister' %}
{% set title = 'app.agenda.lister.title'|trans %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_roles(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}
    <div class="calendar-container">
        <div id="external-events" class="calendar-stock content-block">
            <h3>{{ 'app.agenda.menu'|trans }}</h3>
            <div class="fc-event-container">
                <a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable ui-draggable ui-draggable-handle">
                    <div class='fc-content'>
                        <div class="fc-title">Congé</div>
                        <span class="fc-client"></span>
                        <span class="fc-trigrammeAuteur"></span>
                        <span class="fc-couleurAgence hidden">default</span>
                        <span class="fc-dateRetour"></span>
                        <span class="fc-status hidden"></span>
                        <span class="fc-editable hidden">true</span>
                        <span class="fc-nbQuartJournee hidden">4</span>
                    </div>
                    <div class="fc-bg"></div>
                </a>
                <a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable ui-draggable ui-draggable-handle">
                    <div class='fc-content'>
                        <div class="fc-title">Réunion</div>
                        <span class="fc-client"></span>
                        <span class="fc-trigrammeAuteur"></span>
                        <span class="fc-couleurAgence hidden">default</span>
                        <span class="fc-dateRetour"></span>
                        <span class="fc-status hidden"></span>
                        <span class="fc-editable hidden">true</span>
                        <span class="fc-nbQuartJournee hidden">1</span>
                    </div>
                    <div class="fc-bg"></div>
                </a>
                {% for newDatum in newData %}
                    <a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end fc-draggable ui-draggable ui-draggable-handle drop-remove"
                    id="event-draggable-{{ newDatum.id }}">
                        <div class='fc-content'>
                            <div class="fc-title">{{ newDatum.title }}</div>
                            <span class="fc-client">{{ newDatum.client }}</span>
                            <span class="fc-trigrammeAuteur">{{ newDatum.trigrammeAuteur }}</span>
                            <span class="fc-couleurAgence hidden">{{ newDatum.couleurAgence }}</span>
                            <span class="fc-dateRetour">{{ newDatum.dateRetour }}</span>
                            <span class="fc-status hidden">{{ newDatum.status }}</span>
                            <span class="fc-editable hidden">{% if newDatum.editable == 1 %}true{% else %}false{% endif %}</span>
                            <span class="fc-nbQuartJournee hidden">{{ newDatum.nbQuartJournee }}</span>
                            <span class="fc-id hidden" id="fc-id-event-id-{{ newDatum.id}}">{{ newDatum.id}}</span>
                        </div>
                        <div class="fc-bg"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="calendar-schedule content-block">
            <div id="en-tete" class="calendar-heading">
                <div class="fc-toolbar"></div>
            </div>
            <div class="calendar-days">
                {% for i in 0..10 %}
                    <div id='calendar{{ i }}' class="calendar-day"></div>
                {% endfor %}
            </div>
        </div>
        <div id="menu-event" class="footer-fixed"></div>
    </div>
{% endblock main_content %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            ArobanCalendar.start("{{ data|escape('js') }}", "{{ concepteur|escape('js') }}");
        });
    </script>
{% endblock %}
