<ul class="nav nav-pills" role="group">
    <li role="presentation" class="{% if currentRoute == 'utilisateur.liste' %}active{% endif %}">
        <a href="{{ path('utilisateur.liste') }}">
            {{ icone_menu_utilisateurs() }}
            <span>{{ 'app.utilisateur.liste.nav.title'|trans }}</span>
        </a>
    </li>
    <li role="presentation" class="{% if currentRoute == 'utilisateur.liste.desactives' %}active{% endif %}">
        <a href="{{ path('utilisateur.liste.desactives') }}">
            {{ icone_menu_utilisateurs() }}
            <span>{{ 'app.utilisateur.listeDesactives.nav.title'|trans }}</span>
        </a>
    </li>
    <li role="presentation" class="{% if currentRoute == 'utilisateur.liste.nonActives' %}active{% endif %}">
        <a href="{{ path('utilisateur.liste.nonActives') }}">
            {{ icone_menu_utilisateurs() }}
            <span>{{ 'app.utilisateur.listeNonActives.nav.title'|trans }}</span>
        </a>
    </li>
</ul>