<div class="content-block">
        <table class="table table-collapsible">
            <caption>Test de tableau accordéon non fonctionnel.</caption>
            <thead>
                <tr>
                    <th class="table-col-xs">{{ icone_chevron_down() }}</th>
                    <th>Article</th>
                    <th>Sismique</th>
                    <th>Niveau</th>
                    <th>Fonction</th>
                    <th>Notice</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr role="button" data-toggle="collapse" aria-expanded="false" aria-controls="row1">
                    <th>{{ icone_chevron_up() }}</th>
                    <td>Plan détail escalier (u)</td>
                    <td>* * * *</td>
                    <td>Maçonnerie brute</td>
                    <td>%1</td>
                    <td>{{ icone_valider() }}</td>
                    <td>
                        <div class="btn-group">
                            <a role="button" href="/app_dev.php/dossier/modifier/311" class="btn btn-info ">
                                {{ icone_modifier() }}<span class="sr-only">Modifier 201608-311</span>
                            </a>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/app_dev.php/dossier/attribuer/311">
                                        {{ icone_menu_utilisateurs() }}<span>Attribuer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="collapse" id="row1">
                            <table class="table">
                                <tr>
                                    <td>LOREM IPSUM</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr role="button" data-toggle="collapse" aria-expanded="false" aria-controls="row2">
                    <th>{{ icone_chevron_up() }}</th>
                    <td>Plan détail escalier (u)</td>
                    <td>* * * *</td>
                    <td>Maçonnerie brute</td>
                    <td>%1</td>
                    <td>{{ icone_valider() }}</td>
                    <td>
                        <div class="btn-group">
                            <a role="button" href="/app_dev.php/dossier/modifier/311" class="btn btn-info ">
                                {{ icone_modifier() }}<span class="sr-only">Modifier 201608-311</span>
                            </a>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/app_dev.php/dossier/attribuer/311">
                                        {{ icone_menu_utilisateurs() }}<span>Attribuer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="collapse" id="row2">
                            <table class="table">
                                <tr>
                                    <td>LOREM IPSUM</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr role="button" data-toggle="collapse" aria-expanded="false" aria-controls="row3">
                    <th>{{ icone_chevron_up() }}</th>
                    <td>Plan détail escalier (u)</td>
                    <td>* * * *</td>
                    <td>Maçonnerie brute</td>
                    <td>%1</td>
                    <td>{{ icone_valider() }}</td>
                    <td>
                        <div class="btn-group">
                            <a role="button" href="/app_dev.php/dossier/modifier/311" class="btn btn-info ">
                                {{ icone_modifier() }}<span class="sr-only">Modifier 201608-311</span>
                            </a>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/app_dev.php/dossier/attribuer/311">
                                        {{ icone_menu_utilisateurs() }}<span>Attribuer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="collapse" id="row3">
                            <table class="table">
                                <tr>
                                    <td>LOREM IPSUM</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
