{% set etatBrouillon = constant('App\\Doctrine\\Types\\EmailEtatType::BROUILLON') %}

{% set itemColor = 'default' %}
{% if data.dateHeureEnvoi|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s') %}
    {% set itemColor = 'success' %}
{% endif %}
{% if data.etat == etatBrouillon %}
    {% set itemColor = 'warning' %}
{% endif %}

<li class="list-group-item list-group-item-{{ itemColor }}">
    <div class="btn-group pull-right">

        <a class="btn btn-info btn-sm"
           href="{{ path('email.edit', {id: data.dossier.id, etapeId: etapeId, email: data.id}) }}">
            {{ icone_modifier() }}
            <span class="sr-only">{{ 'action.edit'|trans }}</span>
        </a>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#modalDeleteEmail{{ data.id }}">
                    {{ icone_supprimer() }}
                    <span>{{ 'action.delete'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="list-group-item-heading">
        {{ icone_creer_email() }}
        {% if data.etat == etatBrouillon %}
            <span class="data-title">{{ 'app.email.brouillon_non_envoye'|trans }}</span>
        {% else %}
            <span class="data-title">{{ data.dateHeureEnvoi|localizeddate('long', 'short') }}</span>
        {% endif %}
        <span class="badge">{{ data.createdBy.trigramme }}</span>
    </div>
    <div class="list-group-item-content">
        <div class="contacts">
            {% for contact in data.contacts %}
                {{ contact.libelle }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="objet text-muted">
            {{ data.objet }}
        </div>
    </div>

    <div class="text-left modal fade" id="modalDeleteEmail{{ data.id }}" tabindex="-1" role="dialog"
         aria-labelledby="modalDeleteEmail{{ data.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabelDeleteEmail{{ data.id }}">
                        {{ 'app.email.liste.modalLabelDelete'|trans }}
                    </h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        {{ 'app.email.liste.modalBodyDelete'|trans }}
                    </p>
                </div>
                <div class="modal-footer">
                    {{ form_start(disableForm) }}
                    {{ form_rest(disableForm) }}
                    {{ button_cancel(true) }}
                    {{ button_delete('submit_delete_email'~data.id, true, 'submit') }}
                    {{ form_end(disableForm) }}
                </div>
            </div>
        </div>
    </div>

</li>