{% extends 'layout.html.twig' %}

{% block title %}Formlaire de contact | 4Erudition{% endblock %}

{% block og %}
    <meta property="og:title" content="Comment nous contacter ? 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/contact"/>
    <meta property="og:description" content=" Page pour nous contacter par mail "/>
{% endblock %}

{% block keys %}4 erudition, for erudition, Trophy, erudition, 4l trophy, 4l, pierre, maxime, contact, formulaire{% endblock %}

{% block Description %}Page pour nous contacter par mail{% endblock %}

{% block h1 %}Nous contacter via notre formulaire 4 erudition{% endblock %}

{% block body %}

    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text">Contact</h2>
                    <hr/>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'col s12'}}) }}
            <div class="row">
                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                <div class="input-field col s6">
                    {# Génération du label. #}
                    {{ form_label(form.nom, "Nom", {'label_attr': {'class': ''}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.nom) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.nom, {'attr': {'class': 'validate'}}) }}
                </div>
                <div class="input-field col s6">
                    {# Génération du label. #}
                    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': ''}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.prenom) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.prenom, {'attr': {'class': 'validate'}}) }}
                </div>
                <div class="input-field col s12">
                    {# Génération du label. #}
                    {{ form_label(form.entreprise, "Entreprise", {'label_attr': {'class': ''}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.entreprise) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.entreprise, {'attr': {'class': 'validate'}}) }}
                </div>
                <div class="input-field col s12">
                    {# Génération du label. #}
                    {{ form_label(form.email, "Email", {'label_attr': {'class': ''}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.email) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.email, {'attr': {'class': 'validate'}}) }}
                </div>
                <div class="input-field col s12">
                    {# Génération du label. #}
                    {{ form_label(form.message, "Votre Message", {'label_attr': {'class': ''}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(form.message) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.message, {'attr': {'class': 'materialize-textarea'}}) }}
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    {{ form_widget(form.envoyer, {'attr': {'class': 'waves-effect waves-light btn'}}) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}