{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% set prefix = 'societe' %}
{% set action = 'modifier' %}
{% set title = 'app.societe.edit.title'|trans %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_societes(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}
    <div class="content-block">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form-societe-modifier'}}) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.adresse, {'attr': {'data-associated-select2': 'ville'}}) }}
        <div class="form-group form-md">
            <label class="col-sm-2 control-label required" for="ville">Ville</label>
            <div class="col-sm-10">
                <select id="ville" name="ville" required="required" class="wantSelect2 wantSelect2Ville villeFR ville"
                        data-associated-field-id="societe_adresse_ville">
                    <option value="{{ societe.ville.id|default(null) }}" selected="selected">
                        {{ societe.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                    </option>
                </select>
            </div>
        </div>

        {{ form_row(form.trigramme) }}
        {{ form_row(form.location, {'help': 'field.gps.help'|trans }) }}
        {{ form_row(form.numeroTelephone) }}
        {{ form_row(form.numeroTelecopie) }}
        {{ form_row(form.email) }}
        {{ form_row(form.siren) }}
        {{ form_row(form.prefix) }}

        <hr/>
        {{ form_row(form.debutExercice, {'help': 'appbundle.societe.form.debutexercice.help'|trans }) }}
        <hr/>

        <fieldset>
            <legend>{{ 'app.societe.dommageouvrage'|trans }}</legend>
            {{ form_row(form.dommageOuvrage.nom) }}
            {{ form_row(form.dommageOuvrage.adresse, {'attr': {'data-associated-select2': 'courtier_ville'}}) }}
            <div class="form-group form-md">
                <label class="col-sm-2 control-label required" for="courtier_ville">Ville</label>
                <div class="col-sm-10">
                    <select id="courtier_ville" name="courtier_ville" required="required"
                            class="wantSelect2 wantSelect2Ville villeFR ville"
                            data-associated-field-id="societe_dommageOuvrage_adresse_ville">
                        <option value="{{ societe.dommageOuvrage.ville.id|default(null) }}" selected="selected">
                            {{ societe.dommageOuvrage.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                        </option>
                    </select>
                </div>
            </div>
            {{ form_row(form.dommageOuvrage.nomCourtier) }}
            {{ form_row(form.dommageOuvrage.adresseCourtier) }}
            {{ form_row(form.dommageOuvrage.numeroPolice) }}
            {{ form_row(form.dommageOuvrage.tauxCotisation) }}
            {{ form_row(form.dommageOuvrage.montantMinCotisation) }}
            {{ form_row(form.dommageOuvrage.montantFixe) }}
            {{ form_row(form.dommageOuvrage.montantFraisGestion) }}
        </fieldset>


        <fieldset>
            <legend>{{ 'app.societe.garantiebancaire'|trans }}</legend>
            {{ form_row(form.garantieBancaire.nom) }}
            {{ form_row(form.garantieBancaire.adresse, {'attr': {'data-associated-select2': 'garantieBancaire_ville'}}) }}
            <div class="form-group form-md">
                <label class="col-sm-2 control-label required" for="garantieBancaire_ville">Ville</label>
                <div class="col-sm-10">
                    <select id="garantieBancaire_ville" name="garantieBancaire_ville" required="required"
                            class="wantSelect2 wantSelect2Ville villeFR ville"
                            data-associated-field-id="societe_garantieBancaire_adresse_ville">
                        <option value="{{ societe.garantieBancaire.ville.id|default(null) }}" selected="selected">
                            {{ societe.garantieBancaire.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                        </option>
                    </select>
                </div>
            </div>

            {{ form_row(form.garantieBancaire.numeroPolice) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'app.societe.garantielivraison'|trans }}</legend>
            {{ form_row(form.garantieLivraison.nom) }}
            {{ form_row(form.garantieLivraison.adresse, {'attr': {'data-associated-select2': 'garantieLivraison_ville'}}) }}
            <div class="form-group form-md">
                <label class="col-sm-2 control-label required" for="garantieLivraison_ville">Ville</label>
                <div class="col-sm-10">
                    <select id="garantieLivraison_ville" name="garantieLivraison_ville" required="required"
                            class="wantSelect2 wantSelect2Ville villeFR ville"
                            data-associated-field-id="societe_garantieLivraison_adresse_ville">
                        <option value="{{ societe.garantieLivraison.ville.id|default(null) }}" selected="selected">
                            {{ societe.garantieLivraison.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                        </option>
                    </select>
                </div>
            </div>

            {{ form_row(form.garantieLivraison.numeroPolice) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'app.societe.multirisque'|trans }}</legend>
            {{ form_row(form.multirisque.nom) }}
            {{ form_row(form.multirisque.adresse, {'attr': {'data-associated-select2': 'multirisque_ville'}}) }}
            <div class="form-group form-md">
                <label class="col-sm-2 control-label required" for="multirisque_ville">Ville</label>
                <div class="col-sm-10">
                    <select id="multirisque_ville" name="multirisque_ville" required="required"
                            class="wantSelect2 wantSelect2Ville villeFR ville"
                            data-associated-field-id="societe_multirisque_adresse_ville">
                        <option value="{{ societe.multirisque.ville.id|default(null) }}" selected="selected">
                            {{ societe.multirisque.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                        </option>
                    </select>
                </div>
            </div>

            {{ form_row(form.multirisque.numeroPolice) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'app.societe.nf'|trans }}</legend>
            {{ form_row(form.nf.organisme) }}
            {{ form_row(form.nf.adresse, {'attr': {'data-associated-select2': 'nf_ville'}}) }}
            <div class="form-group form-md">
                <label class="col-sm-2 control-label required" for="nf_ville">Ville</label>
                <div class="col-sm-10">
                    <select id="nf_ville" name="nf_ville" required="required"
                            class="wantSelect2 wantSelect2Ville villeFR ville"
                            data-associated-field-id="societe_nf_adresse_ville">
                        <option value="{{ societe.nf.ville.id|default(null) }}" selected="selected">
                            {{ societe.nf.ville.nomCp|default('appbundle.ville.form.placeholder'|trans) }}
                        </option>
                    </select>
                </div>
            </div>

            {{ form_row(form.nf.numeroTitulaire) }}
            {{ form_row(form.nf.dateAttribution, {'attr': {'class':'datePickerEdit'}}) }}
        </fieldset>

        <div class="footer-fixed">
            <div class="btn-wrapper">
                {{ link_back(path('societe.liste')) }}
                {{ button_register() }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            /**
             * Pour valoriser les select ajax
             */
            $('#ville').select2('val', ["{{ societe.ville.id|default(null) }}"], true);
            $('#courtier_ville').select2('val', ["{{ societe.dommageOuvrage.ville.id|default(null) }}"], true);
            $('#garantieBancaire_ville').select2('val', ["{{ societe.garantieBancaire.ville.id|default(null) }}"], true);
            $('#garantieLivraison_ville').select2('val', ["{{ societe.garantieLivraison.ville.id|default(null) }}"], true);
            $('#multirisque_ville').select2('val', ["{{ societe.multirisque.ville.id|default(null) }}"], true);
            $('#nf_ville').select2('val', ["{{ societe.nf.ville.id|default(null) }}"], true);
        });
    </script>
{% endblock %}
