{% extends ':app:layout_main.html.twig' %}

{% set prefix = 'societe' %}
{% set action = 'liste' %}
{% set title = 'app.societe.liste.title'|trans %}

{% block title %}{{ title }} - Page {{ datas.currentPage }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_societes(true), datas.nbResults) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}

    <div class="pagerfanta">
        {% if datas is not null and datas.haveToPaginate %}
            {{ pagerfanta(datas, 'twitter_bootstrap3_translated', {routeName: app.request.get("_route"), routeParams: { "orderBy": app.request.get("orderBy") }} ) }}
        {% endif %}
    </div>

    <div class="table-societe-liste table-responsive">
        <table class="table table-striped table-hover table-layout-1">
            <thead>
            <tr>
                <th scope="col" class="table-col-main">
                    <div class="sortable">
                        {{ 'app.societe.label'|trans }}
                        {{ link_sortable('nom') }}
                    </div>
                </th>
                <th scope="col" class="table-col-extra"></th>
            </tr>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                    <td class="table-col-main">
                        <span class="data-societe data-title">{{ data.nom }}</span>
                        <span class="data-trigramme">{{ data.trigramme }}</span>
                    </td>
                    <td class="table-col-extra">
                        <div class="btn-group">
                            {{ link_edit(path('societe.edit', {id: data.id})) }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="no-result">
                        {{ 'app.societe.liste.noresults'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagerfanta">
        {% if datas is not null and datas.haveToPaginate %}
            {{ pagerfanta(datas, 'twitter_bootstrap3_translated', {routeName: app.request.get("_route"), routeParams: { "orderBy": app.request.get("orderBy") }} ) }}
        {% endif %}
    </div>
{% endblock %}

{% block body_end %}
    {% for data in datas %}
        {{ render(controller('AppBundle:Societe:delete', {'societe': data, 'standalone': true} )) }}
    {% endfor %}
{% endblock body_end %}
