{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% set prefix = 'notimplemented' %}
{% set title = 'En cours de développement' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_tableaudebord(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {% endblock %}

{% block main_content %}
    <div class="jumbotron alert alert-danger">
        <h2>Page indisponible</h2>
    </div>
{% endblock %}


