{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% set prefix = 'agence' %}
{% set action = 'edit' %}
{% set title = "app.agence.editer.title"|trans ~ " " ~ agence.nomInterne %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_agences(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}

    <div class="content-block">

        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form-agence-edit'}}) }}

        {{ form_row(form.societe) }}
        {{ form_row(form.nomInterne) }}
        {{ form_row(form.nomCommercial) }}
        {{ form_row(form.adresse, {'attr': {'data-associated-select2': 'ville'}}) }}

        <div class="form-group form-md">
            <label class="col-sm-2 control-label required" for="ville">Ville</label>
            <div class="col-sm-10">
                <select id="ville" name="ville" required="required" class="wantSelect2 wantSelect2Ville villeFR ville hidden"
                        data-associated-field-id="agence_adresse_ville">
                    <option value="" selected="selected">{{ 'appbundle.ville.form.placeholder'|trans }}</option>
                    {% if agence.ville is not null %}
                        <option value="{{ agence.ville.id }}" selected="selected">
                            {{ agence.ville.nomCp }}
                        </option>
                    {% endif %}
                </select>
            </div>
        </div>

        {{ form_row(form.trigramme) }}
        {{ form_row(form.location, {'help':'field.gps.help'|trans}) }}
        {{ form_row(form.numeroTelephone) }}
        {{ form_row(form.numeroTelecopie) }}
        {{ form_row(form.email) }}
        {{ form_row(form.siren) }}
        {{ form_row(form.prefix) }}
        {% if isActionAllowed('AGENCE:DESACTIVER') %}
            {{ form_row(form.couleur) }}
        {% endif %}

        <fieldset>
            <legend>{{ 'app.agence.delais_previsionnel'|trans }}</legend>
            {{ form_row(form.OS, {'help':'app.agence.creer.help.nombre_semaine'|trans}) }}
            {{ form_row(form.OC, {'help':'app.agence.creer.help.nombre_semaine'|trans}) }}
            {{ form_row(form.reception, {'help':'app.agence.creer.help.nombre_semaine'|trans}) }}
            {{ form_row(form.cloture, {'help':'app.agence.creer.help.nombre_semaine'|trans}) }}
        </fieldset>

        <div class="footer-fixed">
            <div class="btn-wrapper">
                {{ link_back(path('agence.liste')) }}
                {{ button_register() }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            /**
             * Pour valoriser les select ajax
             */
            $('#ville').select2('val', ["{{ agence.ville.id|default(null) }}"], true);
        });
    </script>
{% endblock %}
