{% extends ':app:layout_main.html.twig' %}

{% set prefix = 'agence' %}
{% set action = 'liste' %}
{% set title = 'app.agence.liste.title'|trans %}

{% block title %}{{ title }} - Page {{ pager.currentPage }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_agences(true), pager.nbResults) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}


{% block main_header %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h2>{{ icone_menu_agences() }}<span>{{ title }}
                        <small>({{ pager.nbResults }})</small></span></h2>
            </div>
        </div>
        <div class="col-md-6 text-right page-header">
            <a href="{{ path('agence.creer') }}" class="btn btn-success">
                {{ icone_creer_ajouter() }}<span>{{ 'app.agence.liste.add'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block main_content %}

    <div class="pagerfanta">
        {% if pager is not null and pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {routeName: app.request.get("_route"), routeParams: { "orderBy": app.request.get("orderBy") }} ) }}
        {% endif %}
    </div>
    <div class="table-agence-liste table-responsive">
        <table class="table table-striped table-hover table-layout-2">
            <thead>
            <tr>
                <th scope="col" class="table-col-main">
                    <div class="sortable">
                        {{ 'app.nominterne.label'|trans }}
                        {{ link_sortable('nomInterne') }}
                    </div>
                </th>

                <th scope="col">
                    <div class="sortable">
                        {{ 'app.societe.label'|trans }}
                        {{ link_sortable('societe') }}
                    </div>
                </th>
                <th scope="col" class="table-col-extra"></th>
            </tr>
            </thead>
            <tbody>
            {% for data in pager %}
                <tr>
                    <td class="table-col-main">
                        <a href="{{ path('agence.edit', {id: data.id }) }}">
                            <span class="data-agence data-title">{{ data.nomInterne }}</span>
                        </a>
                        <span class="data-trigramme">{{ data.trigramme }}</span>
                    </td>
                    <td>
                        {% if data.societe.nom is defined %}
                            <span class="data-societe">{{ data.societe.nom }}</span>
                        {% endif %}
                    </td>
                    <td class="table-col-extra">
                        <div class="btn-group">
                            {{ link_edit(path('agence.edit', {id: data.id})) }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="no-result">
                        {{ 'app.agence.liste.noresults'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagerfanta">
        {% if pager is not null and pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {routeName: app.request.get("_route"), routeParams: { "orderBy": app.request.get("orderBy") }} ) }}
        {% endif %}
    </div>
{% endblock %}
