{% extends standalone ? ':app:layout_empty.html.twig' : ':app:layout_main.html.twig' %}

{% set prefix = 'agence' %}
{% set action = 'parametre' %}
{% set title = 'app.agence.parametre.title'|trans %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block main_header_title %}{{ main_header_title(title, icone_menu_agences(true)) }}{% endblock %}
{% block body_class %}{{ parent() }} {{ prefix }} {{ prefix }}-{{ action }}{% endblock %}

{% block main_content %}

    <div class="content-block">
        {{ form_start(form) }}

        <div class="footer-fixed">
            <div class="btn-wrapper">
                {{ link_back(path('tableau_de_bord')) }}
                {{ button_register() }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
